name: build

on: [push, pull_request]

jobs:

  lint:
    runs-on: ubuntu-20.04
    timeout-minutes: 30
    steps:
      - uses: actions/checkout@v3
      - name: Set up JDK 8
        uses: olafurpg/setup-scala@v13
        with:
          java-version: 1.8
      - name: Cache scala dependencies
        uses: coursier/cache-action@v6
      # - name: Checking your code format
      #   run: |
      #     csbt scalafmtCheckAll
      - name: publishLocal
        run: sbt +publishLocal

  test:
    runs-on: ubuntu-20.04
    timeout-minutes: 30
    strategy:
      fail-fast: false
      matrix:
        scala: [ '2.11.12', '2.12.15', '2.13.8', '3.1.1' ]
        platform: [ 'JVM', 'JS', 'Native' ]
    steps:
      - name: Checkout current branch
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Setup Scala and Java
        uses: olafurpg/setup-scala@v13
        with:
          java-version: 1.8
      - name: Cache scala dependencies
        uses: coursier/cache-action@v6
      - name: Run tests
        if: ${{  matrix.platform != 'Native' || !startsWith(matrix.scala, '3.')  }}
        run: sbt ++${{ matrix.scala }}! scalajavatimeTests${{ matrix.platform }}/test
      - name: Run demo
        if: ${{  matrix.platform != 'Native' || !startsWith(matrix.scala, '3.')  }}
        run: sbt ++${{ matrix.scala }}! demo${{ matrix.platform }}/run

  build:
    runs-on: ubuntu-20.04
    needs: [ lint, test ]
    steps:
      - name: Aggregate of lint, and all tests
        run: echo "ci passed"
